/* .BlogHead{
    font-weight: 600;
    font-size: 35px;
    line-height: 47px;
    text-transform: uppercase;
    color: #F56F53;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 20px;
} */